.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
   
}

.main-text {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.main-title {
	color: #F9F1E9;
	transition: 0.1s linear;
}

.main-title:hover {
	color: #d9d9d9;
}

.button-vk: {
	position: relative;
	font-size: 70px;
	text-align: left;
}

A {
	color: #F9F1E9;
	text-decoration: none;
	transition: 0.1s linear;
}

A:hover{
	color: #d9d9d9;
}

.button-instagram: {
	font-size: 70px;
}

.button-games: {
	font-size: 70px;
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

.button-otvet {
	text-align: right;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

#spalsh {
	width:200px;
	position: absolute;
	top: -80px;
	right: -80px;
	transform: rotate(20deg);
	animation: splash1 1s infinite;
}

#spalsh2 {
	width:200px;
	position: absolute;
	top: -30px;
	right: +400px;
	transform: rotate(-15deg);
	animation: splash2 1s infinite;
}

#spalsh3 {
	width:300px;
	position: absolute;
	top: +100px;
	right: -170px;
	transform: rotate(-30deg);
	animation: splash3 1s infinite;
}

@keyframes splash1 {
	from {width:200px;}
	50% {width: 210px;}
	to {width:200px;}
}

@keyframes splash2 {
	from {width:305px;}
	40% {width: 310px;}
	90% {width: 300px;}
	to {width:305px;}
}

@keyframes splash3 {
	from {width:210px;}
	50% {width: 200px;}
	to {width:210px;}
}